extend layout
block content

    #content


        button(onclick="window.location.href='https://discordapp.com/oauth2/authorize?client_id=278292477306339328&scope=bot&permissions=0000001'") GET FOXBOT


block sidebar
